
absl-py==0.13.0
astor==0.8.1
bleach==1.5.0
cached-property==1.5.2
certifi==2021.5.30
Cython==0.29.24
dataclasses==0.8
gast==0.5.2
grpcio==1.40.0
h5py==2.10.0
html5lib==0.9999999
importlib-metadata==4.8.1
joblib==1.0.1
keras==2.6.0
Markdown==3.3.4
mtcnn==0.1.1
numpy==1.19.5
opencv-python==4.5.3.56
Pillow==8.3.2
pip==21.0.1
protobuf==3.17.3
scikit-learn==0.22.2.post1
scipy==1.5.4

six==1.16.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
threadpoolctl==2.2.0
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wheel==0.37.0
wincertstore==0.2
zipp==3.5.0